a {
    text-decoration: none;
    color: 3333FF;
}

.nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: white;
    transition: .7s;
    text-align: center;
    z-index: 100;
}

.nav ul {
    padding-top: 80px;
}

.nav ul li {
    list-style-type: none;
    margin-top: 50px;
    font-size: 30px;
}

.menu {
    display: inline-block;
    width: 36px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background-color: #3333FF;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: 3px 3px 3px #AAA;
    z-index: 100;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
    display: inline-block;
    height: 1px;
    background-color: white;
    position: absolute;
    transition: 0.5s;

}

.menu__line--top {
    top: 10px;
    width: 30%;
}

.menu__line--middle {
    top: 20px;
    width: 70%;
}

.menu__line--bottom {
    bottom: 9px;
    width: 20%;
}

.menu.open span:nth-of-type(1) {
    top: 20px;
    right: 0.5px;
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
}

.menu.open span:nth-of-type(2) {
    opacity: 0;
}

.menu.open span:nth-of-type(3) {
    top: 20px;
    right: 0.5px;
    transform: rotate(-45deg);
    width: 100%;
    height: 2px;
}

.in {
    transform: translateX(100%);
}

/* ヘッダー */

header {
    width: 90%;
    margin: 0 auto;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    width: 45%;
}

.header-logo {
    display: flex;
}

.header-ttl {
    font-size: 30px;
    font-weight: 900;
    color: #3333FF;
    padding: 5px 30px;
}

/* ==================================
メイン
===================================== */

.main {
    width: 30%;
    height: 40%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #AAA;
}

.main_ttl {
    padding: 100px 0 30px 0;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.card_button {
    display: block;
    font-size: 15px;
    padding: 5px 15px;
    color: white;
    background-color: #3333FF;
    border-radius: 5px;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 30px auto;
}