/* ハンバーガーメニュー */
a {
    text-decoration: none;
    color: 3333FF;
}

.nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background:white;
    transition: .7s;
    text-align: center;
    z-index: 100;
}

.nav ul {
    padding-top: 80px;
}

.nav ul li {
    list-style-type: none;
    margin-top: 50px;
    font-size: 30px;
}

.menu {
    display: inline-block;
    width: 36px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background-color:#3333FF;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: 3px 3px 3px #AAA;
    z-index: 100;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
    display: inline-block;
    height: 1px;
    background-color: white;
    position: absolute;
    transition: 0.5s;
    
}

.menu__line--top {
    top: 10px;
    width: 30%;
}

.menu__line--middle {
    top: 20px;
    width: 70%;
}

.menu__line--bottom {
    bottom: 9px;
    width: 20%;
}

.menu.open span:nth-of-type(1) {
    top: 20px;
    right:0.5px;
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
}

.menu.open span:nth-of-type(2) {
    opacity: 0;
}

.menu.open span:nth-of-type(3) {
    top: 20px;
    right: 0.5px;
    transform: rotate(-45deg);
    width: 100%;
    height: 2px;
}

.in {
    transform: translateX(100%);
}


/* ヘッダー */
.header {
    height: 150px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header-logo {
    display: flex;
}

.header-ttl {
    font-size: 30px;
    font-weight:900;
    color:#3333FF;
    padding:5px 30px;
}

.header-search {
    background-color: white;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #AAA;
}

form{
    display: flex;
    align-items: center;
    padding: 5px 0 0 0 ;
}

.header-area {
    width: 20%;
    height: 40px;
    border:0;
    border-right: 2px solid #EEE;
    margin-right: 10px;
}

.header-genre {
    width: 20%;
    height: 40px;
    border: 0;
    border-right: 2px solid #EEE;
}

.header-img {
    margin:0 15px;
}
.header-text {
    width: 50%;
    height: 40px;
    border: 0;
    text-decoration: none;
    font-size: 20px;
}

.header-area:focus {
    outline: none;
    cursor: pointer;
    
}

.header-genre:focus{
    outline: none;
    cursor: pointer;
}

.header-text:focus {
    outline:none;
}

.header-button{
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

/* メイン */
main{
    width: 90%;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 24%;
    box-shadow: 3px 3px 3px #AAA;
    
    margin-bottom: 50px;
}

.card-img{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.card-content{
    background-color: white;
    height: 100px;
    padding: 30px 20px ;
    border-radius: 5px;
}

.card-name{
    font-size: 25px;
    padding-bottom: 10px;
}

.card-category{
    display: flex;
    padding-bottom: 25px;
}

.card-category p{
    padding-right: 5px;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-bottom_button{
    font-size: 20px;
    padding:5px 20px;
    color:white;
    background-color: #3333FF;
    border-radius: 5px;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.heart {
    width: 30px;
    /* 正方形を作る */
    height: 30px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
    z-index: 0;
}

.heart::before,
.heart::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #E0548E;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
    z-index: 0;
}

.heart::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
    z-index: 0;
}

.heart::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
    z-index: 0;
}


.whiteheart {
    width: 30px;
    /* 正方形を作る */
    height: 30px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
    z-index: 0;
}

.whiteheart::before,
.whiteheart::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #AAA;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
    z-index: 0;
}

.whiteheart::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
    z-index: 0;
}

.whiteheart::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
    z-index: 0;
}

.heart_button{
    outline: none;
    background-color: white;
    border: none;
    cursor: pointer;
}