a {
    text-decoration: none;
    color: 3333FF;
}

.nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: white;
    transition: .7s;
    text-align: center;
}

.nav ul {
    padding-top: 80px;
}

.nav ul li {
    list-style-type: none;
    margin-top: 50px;
    font-size: 30px;
}

.menu {
    display: inline-block;
    width: 36px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background-color: #3333FF;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: 3px 3px 3px #AAA;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
    display: inline-block;
    height: 1px;
    background-color: white;
    position: absolute;
    transition: 0.5s;

}

.menu__line--top {
    top: 10px;
    width: 30%;
}

.menu__line--middle {
    top: 20px;
    width: 70%;
}

.menu__line--bottom {
    bottom: 9px;
    width: 20%;
}

.menu.open span:nth-of-type(1) {
    top: 20px;
    right: 0.5px;
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
}

.menu.open span:nth-of-type(2) {
    opacity: 0;
}

.menu.open span:nth-of-type(3) {
    top: 20px;
    right: 0.5px;
    transform: rotate(-45deg);
    width: 100%;
    height: 2px;
}

.in {
    transform: translateX(100%);
}
/* ヘッダー */
.header {
    height: 100px;
    display: flex;
    align-items: center;
    width: 45%;
}

.header-logo {
    display: flex;
}

.header-ttl {
    font-size: 30px;
    font-weight: 900;
    color: #3333FF;
    padding: 5px 30px;
}

/* 　　　　メイン　　　　 */
main {
    width: 90%;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: space-between;
}

.main_item{
    width: 47%;
}


.card_header {
    display: flex;
    margin:20px 0 ;
    align-items: center;
    justify-content: space-between;
}

.card_button {
    font-size: 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #AAA;
    background-color: white;
    padding:5px 10px;
}

.card_ttl {
    font-size: 25px;
    padding:0 10px;
    width: 50%;
    
}

.review_button{
    display:inline-block;
    width: 50%;
    margin: 0 0 0 auto;
    border: none;
    cursor: pointer;
    color: #3333FF;
}

img {
    width: 100%;;
}

.card_category{
    display: flex;
    padding:20px 0 ;
    padding-right:10px
}

.card_text{
    line-height: 25px;
}

.reserve {
    width: 47%;
    background-color: #3333FF;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #AAA;
    display: flex;
    justify-content: space-between;
}

.reserve_item{
    padding: 10px 25px;
}

.reserve_ttl {
    color: white;
    font-size: 20px;
    padding: 25px 0 ;
}

.date{
    width: 40%;
    height: 30px;
    border-radius: 5px;
}

select{
    display: block;
    width: 100%;
    margin: 20px 0;
    height:30px;
    border-radius: 5px;
}

.table{
    width: 100%;
    background-color: #4689FF;
    border-radius: 5px;
}

.table_item {
    padding: 15px;
}

th{ 
    text-align: left;
    color: white;
    font-weight: normal;
    width: 150px;
    height: 30px;
}

td {
    color: white;
}

.reserve_button{
    width: 100%;
    outline: none;
    border: none;
    background-color: blue;
    color:white;
    margin-top: auto;
    cursor: pointer;
    font-size: 15px;
    padding: 20px 0;
    border-radius: 0 0 5px 5px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error {
    background-color: #FFBEDA;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

/*   レスポンシブデザイン   */


@media screen and (max-width : 768px) {
    .main{
        flex-flow: column;
    }
    .main_item{
        width: 95%;
    }
    .reserve{
        width: 95%;
    }
}

@media screen and (max-width : 480px) {
    
}