a {
    text-decoration: none;
    color: 3333FF;
}

.nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: white;
    transition: .7s;
    text-align: center;
    z-index: 100;
}

.nav ul {
    padding-top: 80px;
}

.nav ul li {
    list-style-type: none;
    margin-top: 50px;
    font-size: 30px;
}

.menu {
    display: inline-block;
    width: 36px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background-color: #3333FF;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: 3px 3px 3px #AAA;
    z-index: 100;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
    display: inline-block;
    height: 1px;
    background-color: white;
    position: absolute;
    transition: 0.5s;

}

.menu__line--top {
    top: 10px;
    width: 30%;
}

.menu__line--middle {
    top: 20px;
    width: 70%;
}

.menu__line--bottom {
    bottom: 9px;
    width: 20%;
}

.menu.open span:nth-of-type(1) {
    top: 20px;
    right: 0.5px;
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
}

.menu.open span:nth-of-type(2) {
    opacity: 0;
}

.menu.open span:nth-of-type(3) {
    top: 20px;
    right: 0.5px;
    transform: rotate(-45deg);
    width: 100%;
    height: 2px;
}

.in {
    transform: translateX(100%);
}

/* ヘッダー */

header {
    width: 90%;
    margin: 0 auto;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    width: 45%;
}

.header-logo {
    display: flex;
}

.header-ttl {
    font-size: 30px;
    font-weight: 900;
    color: #3333FF;
    padding: 5px 30px;
}

/*                    メイン                      */

main {
    width: 80%;
    margin: 30px auto
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*                    変更　　　　　　　　　　　　　 */

.change {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.change_ttl {
    font-size: 25px;
    margin-bottom: 25px;
}

.change-item {
    width: 100%;
    background-color: #3333FF;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #AAA;
    
}

.change_content {
    padding: 20px;
}


.table_ttl {
    width: 30%;
    color:White;
    text-align: left;
    padding: 10px 0;
}

.table_tr {
    vertical-align: middle;
}

.talbe_shop {
    width: 20%;
    color: white;
}

.shop_input{
    width: 50%;
}

.shop_input-item{
    width: 100%;
}

.yajirushi{
    color: white;
}